<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

	<!-- The targets to write to. This is where you store your logs. Logs can be formatted as JSON. Might be worth looking into... -->
	<targets async="true">
		<!-- write logs to file. The layout portion is a layout renderrer  -->
		<!-- Trace Logs -->
		<target xsi:type="File" name="tracefile" fileName="C:\NBCC\Year_2\Winter\IDSP\ProjectC#\idsp2025_jared_green\idsp2025_jared_green\Logs\Trace\{shortdate}.{##}.log"
				layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" 
				archiveFileName="${basedir}\logs\Archive\Trace\logfile_{shortdate}.{##}.log"
				archiveEvery="Day"
				maxArchiveFiles="30"
				/>
		<!-- Error Logs -->
		<target xsi:type="File" name="errorfile" fileName="C:\NBCC\Year_2\Winter\IDSP\ProjectC#\idsp2025_jared_green\idsp2025_jared_green\Logs\Error\{shortdate}.{##}.log"
			layout="${longdate}|${level}|${logger}|${message}|${callsite}|${stacktrace}|${all-event-properties} ${exception:format=tostring}"
			archiveFileName="${basedir}\logs\Archive\Error\logfile_{shortdate}.{##}.log"
			archiveEvery="Day"
			maxArchiveFiles="30"
			/>
		<!-- Debug Logs -->
		<target xsi:type="File" name="debugfile" fileName="C:\NBCC\Year_2\Winter\IDSP\ProjectC#\idsp2025_jared_green\idsp2025_jared_green\Logs\Debug\{shortdate}.{##}.log"
			layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}"
			archiveFileName="${basedir}\logs\Archive\Debug\logfile_{shortdate}.{##}.log"
			archiveEvery="Day"
			maxArchiveFiles="30"
			/>
		<!-- Warning Logs -->
		<target xsi:type="File" name="warningfile" fileName="C:\NBCC\Year_2\Winter\IDSP\ProjectC#\idsp2025_jared_green\idsp2025_jared_green\Logs\Warning\{shortdate}.{##}.log"
			layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}"
			archiveFileName="${basedir}\logs\Archive\Warning\logfile_{shortdate}.{##}.log"
			archiveEvery="Day"
			maxArchiveFiles="30"
			/>
		<!-- Production Logs -->
		<target xsi:type="File" name="productionfile" fileName="C:\NBCC\Year_2\Winter\IDSP\ProjectC#\idsp2025_jared_green\idsp2025_jared_green\Logs\Production\{shortdate}.{##}.log"
			layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}"
			archiveFileName="${basedir}\logs\Archive\Production\logfile_{shortdate}.{##}.log"
			archiveEvery="Day"
			maxArchiveFiles="30"
			/>
		<!-- Info Logs -->
		<target xsi:type="File" name="infofile" fileName="C:\NBCC\Year_2\Winter\IDSP\ProjectC#\idsp2025_jared_green\idsp2025_jared_green\Logs\Info\{shortdate}.{##}.log"
			layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}"
			archiveFileName="${basedir}\logs\Archive\Info\logfile_{shortdate}.{##}.log"
			archiveEvery="Day"
			maxArchiveFiles="30"
			/>
		<!-- Fatal Logs -->
		<target xsi:type="File" name="fatalfile" fileName="C:\NBCC\Year_2\Winter\IDSP\ProjectC#\idsp2025_jared_green\idsp2025_jared_green\Logs\Fatal\{shortdate}.{##}.log"
			layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}"
			archiveFileName="${basedir}\logs\Archive\Fatal\logfile_{shortdate}.{##}.log"
			archiveEvery="Day"
			maxArchiveFiles="30"
			/>
		
		<!-- Transaction Audit Logs -->
		<target xsi:type="Database" name="Database" keepalive="true" connectionString="${configsetting:item=ConnectionString.BullseyeDB}">
			<parameter name="@TxnID" layout="${event-properties:TxnID}" />
			<parameter name="@EmployeeID" layout="${event-properties:EmployeeID}" />
			<parameter name="@TxnType" layout="${event-properties:TxnType}" />
			<parameter name="@Status" layout="${event-properties:Status}" />
			<parameter name="@TxnDate" layout="${event-properties:TxnDate}" />
			<parameter name="@SiteID" layout="${event-properties:SiteID}" />
			<parameter name="@DeliveryID" layout="${event-properties:DeliveryID}" />
			<parameter name="@Notes" layout="${event-properties:Notes}" />
			<parameter name="@CreatedDate" layout="${date}" />
		</target>
	</targets>

	<!-- Rules to map from logger name to target. You can specify as many rules as you want to. -->
	<rules>

		<!-- Authentication Logger Rules -->
		<logger name="idsp2025_jared_green.Services.AuthenticationService" minlevel="Trace" maxlevel="Trace" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.AuthenticationService" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
		<logger name="idsp2025_jared_green.Services.AuthenticationService" minlevel="Info" maxlevel="Info" writeTo="infofile" />
		<logger name="idsp2025_jared_green.Services.AuthenticationService" minlevel="Warn" maxlevel="Warn" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.AuthenticationService" minlevel="Error" maxlevel="Error" writeTo="errorfile" />
		<logger name="idsp2025_jared_green.Services.AuthenticationService" minlevel="Fatal" maxlevel="Fatal" writeTo="fatalfile" />

		<!-- Authorization Logger Rules -->
		<logger name="idsp2025_jared_green.Services.AuthorizationService" minlevel="Trace" maxlevel="Trace" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.AuthorizationService" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
		<logger name="idsp2025_jared_green.Services.AuthorizationService" minlevel="Info" maxlevel="Info" writeTo="infofile" />
		<logger name="idsp2025_jared_green.Services.AuthorizationService" minlevel="Warn" maxlevel="Warn" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.AuthorizationService" minlevel="Error" maxlevel="Error" writeTo="errorfile" />
		<logger name="idsp2025_jared_green.Services.AuthorizationService" minlevel="Fatal" maxlevel="Fatal" writeTo="fatalfile" />

		<!-- Employee Logger Rules -->
		<logger name="idsp2025_jared_green.Services.EmployeeService" minlevel="Trace" maxlevel="Trace" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.EmployeeService" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
		<logger name="idsp2025_jared_green.Services.EmployeeService" minlevel="Info" maxlevel="Info" writeTo="infofile" />
		<logger name="idsp2025_jared_green.Services.EmployeeService" minlevel="Warn" maxlevel="Warn" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.EmployeeService" minlevel="Error" maxlevel="Error" writeTo="errorfile" />
		<logger name="idsp2025_jared_green.Services.EmployeeService" minlevel="Fatal" maxlevel="Fatal" writeTo="fatalfile" />

		<!-- Item Logger Rules -->
		<logger name="idsp2025_jared_green.Services.ItemService" minlevel="Trace" maxlevel="Trace" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.ItemService" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
		<logger name="idsp2025_jared_green.Services.ItemService" minlevel="Info" maxlevel="Info" writeTo="infofile" />
		<logger name="idsp2025_jared_green.Services.ItemService" minlevel="Warn" maxlevel="Warn" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.ItemService" minlevel="Error" maxlevel="Error" writeTo="errorfile" />
		<logger name="idsp2025_jared_green.Services.ItemService" minlevel="Fatal" maxlevel="Fatal" writeTo="fatalfile" />


		<!-- Permission Logger Rules -->
		<logger name="idsp2025_jared_green.Services.PermissionService" minlevel="Trace" maxlevel="Trace" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.PermissionService" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
		<logger name="idsp2025_jared_green.Services.PermissionService" minlevel="Info" maxlevel="Info" writeTo="infofile" />
		<logger name="idsp2025_jared_green.Services.PermissionService" minlevel="Warn" maxlevel="Warn" writeTo="logfile" />
		<logger name="idsp2025_jared_green.Services.PermissionService" minlevel="Error" maxlevel="Error" writeTo="errorfile" />
		<logger name="idsp2025_jared_green.Services.PermissionService" minlevel="Fatal" maxlevel="Fatal" writeTo="fatalfile" />

		<!-- Transaction Logger Rules -->
		<logger name="idsp2025_jared_green.Services.TransactionService" minlevel="Info" maxlevel="Info" writeTo="database" />

	</rules>
</nlog>
